.container{
    width: 70%;
    margin: 0px auto;
    padding-top: 100px;
    /* padding: 50px; */
    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    
}
.griddd{
    display: grid;
    height: 300px;
    grid-template-columns: 50% 50%;
    border: 2px solid;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.bet{
    margin: auto 30%;
}

.copy{
    font-size: 10px;
    margin: 50px auto;
    width: 280px;
  }