body {
	background-color: #eee;
	font-family: Tahoma;
	color: #111;
}
.formm{
  padding-top: 70px;
}

input[type="tel"]:valid {
  background: lightgreen;
}
input[type="url"]:valid {
  background: lightgreen;
}

input[type="tel"]:invalid {
  background: red;
}
input[type="url"]:invalid {
  background: red;
}


label, input, fieldset{
	font-size: 14px;
	padding: 1px 3px;
	border-radius: 5px;
	margin: 2px 1px 4px 5px;   
}
fieldset {
	font-size: 16px;
  padding: 2px 4px;
  border-radius: 6px;
  margin: 5px 8px;	
}


body {
	background-color: #eee;
	font-family: Tahoma;
	color: #111;
}

input[type="tel"]:valid {
  background: lightgreen;
}
input[type="url"]:valid {
  background: lightgreen;
}

input[type="tel"]:invalid {
  background: red;
}
input[type="url"]:invalid {
  background: red;
}


label, input, fieldset{
	font-size: 14px;
	padding: 1px 3px;
	border-radius: 5px;
	margin: 2px 1px 4px 5px;   
}
fieldset {
	font-size: 16px;
  padding: 2px 4px;
  border-radius: 6px;
  margin: 5px 8px;	
}

input[type="submit"] {
  font-weight: bold;
  padding: 4px 15px;
  margin: 5px 1px 5px 4px;
  border: 1px solid #666;
  background: lightgrey;
  color: slategrey;
}


.btn {
  background-color: rgb(109, 109, 215);
  border-radius: 15px;
  font-family: Georgia;
  font-size: 19px;
  padding: 5px;
  text-decoration: none;

} 

 .btn:hover {
  background: rgb(120, 97, 53);
} 
.but{
  padding: 50px;
  text-align: center;
}
