body
{
    /* background-image: url(../LOGO/BBD.png); */
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color:#E0FFFF;

}
table{
    width: 100%;
}
.tblcol{
    color: #FFF;
    text-decoration: none;
}
.tblcol:hover{
    color: aqua;
}
.logoalign{
    /* width: 111px; */
    vertical-align: middle;

}
.text{
    text-align: center;
    height: 100px;
    width: 100%;
    

}
    

.text h2{
    margin: 0;
    line-height: 100px;
    /* font-size: 48px; */
}
.nav{
    /* background: #CA3400; */
    /* color: #FFF; */
    background-image: url(../LOGO/color.webp);
    display: flex;
    width: 100%;
    vertical-align: middle;
    z-index: 2;

   


}
.nav .logo{
    font-size: 24px;
    padding: 10px;
    margin-left: 15px
}
.nav .logo a{
    /* color: #FFF; */
    text-decoration: none
}
.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    /* width: 100%; */
    margin-left: auto
}
ul li{
    padding: 20px;
    list-style: none
}
ul li a{
    color: #FFF;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold
}
ul li a:hover{
    color: aqua;
}


.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.gradt {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');





